<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lunatics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/main.css') }}">
</head>
<body>
    <div class="taskbar">
        <div class="left">
            <img src="{{ url_for('static', filename='images/main-logo.png') }}" alt="Logo" />
            <div>LUNATICS-0 Ground Station</div>
            <div id="utcTime" class="timing"></div>
            <div class="state-container"></div>
            <div class="state_sat">State 
                <select id="stateSelect">
                    <option value="INIT">INIT</option>
                    <option value="NOMINAL">NOMINAL</option>
                    <option value="PAYLOAD">PAYLOAD</option>
                    <option value="TX">TX</option>
                    <option value="DETUMBLING">DETUMBLING</option>
                </select>
                <button onclick="updateState()">Set State</button>
            </div>
            <div class="demo">[ DEMO ]</div>
        </div>
        <div id="status" class="status">Connected</div>
    </div>

    <div class="tabs">
        <div class="tab-button active" onclick="openTab(event, 'main')">Lunatics-0</div>
        <div class="tab-button" onclick="openTab(event, 'payload')">Payload</div>
        <div class="tab-button" onclick="openTab(event, 'attitude')">Attitude</div>
        <div class="tab-button" onclick="openTab(event, 'wod')">WOD</div>
    </div>

    <div id="main" class="tab-content active">
        <h2>LUNATICS-0</h2>
        <p>LUNATICS is a 8 person, multi-disciplinary team of engineers who are currently building a cubesat, 
            LUNATICS-0. This app is the ground station that connects with the cubesat and displays the data 
            from it in a user friendly format.</p>
    </div>
    <div id="payload" class="tab-content">
        <h2>Payload Data</h2>
        <p>Display payload-related information here.</p>
    </div>
    <div id="attitude" class="tab-content">
        <h2>Attitude Data</h2>
        <p>Display attitude-related information here.</p>
    </div>
    <div id="wod" class="tab-content">
        <h2>WOD Data</h2>
        <p>Display WOD-related information here.</p>
    </div>

    <script src="{{ url_for('static', filename='frontend/main.js') }}"></script>
    <script src="{{ url_for('static', filename='frontend/helpers.js') }}"></script>

</body>
</html>
